<%= render "currencies/navbar"%>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    </tr>
<% @user.each do |data| %>
  <tr>
    <td><%= data.id %></td>  
    <td><%= "#{data.fname}" +" "+ "#{data.lname}" %></td>   
    <td><b><%= link_to 'View Profile',admins_show_path(id: data.id), :class=>"button primary fi-plus" %></b></td>
    </tr>
<% end %> 
  </tbody>
</table>

<h1>Update Price of Coins</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    </tr>
<% Currency.all.each do |data| %>
  <tr>
    <td><%= data.id %></td>  
    <td><%= data.name %></td>  
    <td><%= data.price %></td>
    <td><b><%= link_to 'Update Price', admins_edit_path(id: data.id), :class=>"button primary fi-plus" %></b></td>
  </tr>
<% end %> 
  </tbody>
</table>
