<% if user_signed_in? %> 
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8fc4b7">
<img src="https://wallpaper.dog/large/20525225.jpg" width="150" height="120" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" >Cryptomania</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"style="font-color: #0a0a0a">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/currencies/my_coins">My Coins</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">History</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/profiles/index">Profile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">My Wallet</a>
      </li>

      <%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> 

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    </tr>
<% @currency.each do |data| %>
  <tr>
    <td><%= data.id %></td>  
    <td><%= data.name %></td>  
    <td><%= data.price %></td>
    <td><%= link_to 'Buy', currencies_buy_path(id: data.id), :class=>"button primary fi-plus" %></td>
  </tr>
<% end %> 
  </tbody>
</table>


<% else %>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8fc4b7">
<img src="https://wallpaper.dog/large/20525225.jpg" width="150" height="120" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" >Cryptomania</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"style="font-color: #0a0a0a">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>

      <%= button_to "Sign in", new_user_session_path %>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> 

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    </tr>
<% @currency.each do |data| %>
  <tr>
    <td><%= data.id %></td>  
    <td><%= data.name %></td>  
    <td><%= data.price %></td>
  </tr>
<% end %> 
  </tbody>
</table>

   
<% end %>